.bj-ContactAgenticblock {
    height: 650px;
    margin-top: 0px;
}

.bj-ContactAgenticblock .bj-secondAgeneticlevel{
    width: 88%;
}

.bj-ContactAgenticblock .bj-secondAgeneticlevel .bj-secondAgeneticleft{
    width: 62%;
}

.bj-ContactAgenticblock .bj-secondAgeneticlevel .bj-secondAgeneticright{
    width: 35%;
}

.bj-ContactAgenticblock .bj-secondAgeneticlevel .bj-secondAgeneticleft .bj-secondblockoneimg .bj-secondblockone{
    width: 390px;
    left: 0;
    top: 0;
    z-index: 1;
}

.bj-ContactAgenticblock .bj-secondAgeneticlevel .bj-secondAgeneticleft .bj-secondblockoneimg .bj-secondblockone img{
    height: auto;
}

.bj-ContactAgenticblock .bj-secondAgeneticlevel .bj-secondAgeneticleft .bj-secondblocksecondimg .bj-secondblocksecond{
    width: 500px;
    height: 460px;
    right: 35px;
    left: unset;
    top: 40px;
    bottom: unset;
}

.bj-ContactAgenticblock .bj-secondAgeneticlevel .bj-secondAgeneticleft .bj-secondblocksecondimg .bj-secondblocksecond .bj-Contactblueboxblock{
    width: 100%;
    height: 100%;
    background-color: #5a3ed9;
    display: flex;
    justify-content: flex-end;
    border-radius: 15px;
}

.bj-ContactAgenticblock .bj-secondAgeneticlevel .bj-secondAgeneticleft .bj-secondblocksecondimg .bj-secondblocksecond .bj-Contactblueboxblock .bj-Contactbluebox{
    width: 55%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.bj-ContactAgenticblock .bj-secondAgeneticlevel .bj-secondAgeneticleft .bj-secondblocksecondimg .bj-secondblocksecond .bj-Contactblueboxblock .bj-Contactbluebox .bj-Contactfirstbox{
    padding: 0px 20px 0 0;
}

.bj-ContactAgenticblock .bj-secondAgeneticlevel .bj-secondAgeneticleft .bj-secondblocksecondimg .bj-secondblocksecond .bj-Contactblueboxblock .bj-Contactbluebox span, p{
    color: #fff;
    font-size: 18px;
    line-height: 30px;
    font-family: "Roboto";
    font-weight: 400;
}

.bj-ContactAgenticblock .bj-secondAgeneticlevel .bj-secondAgeneticleft .bj-secondblocksecondimg .bj-secondblocksecond .bj-Contactblueboxblock .bj-Contactbluebox p{
    padding-top: 10px;
    padding-bottom: 20px;
    line-height: 38px;
    border-bottom: 1px solid #dee2e6;
}

.bj-ContactAgenticblock .bj-secondAgeneticlevel .bj-secondAgeneticleft .bj-secondblocksecondimg .bj-secondblocksecond .bj-Contactblueboxblock .bj-Contactbluebox .bj-Contactsecondbox{
    padding-top: 20px;
}

/* .bj-ContactAgenticblock .bj-secondAgeneticlevel .bj-secondAgeneticleft .bj-secondblocksecondimg .bj-secondblocksecond .bj-Contactblueboxblock .bj-Contactbluebox .bj-Contactsecondbox span{
    font-weight: bold;
} */

.bj-ContactAgenticblock .bj-secondAgeneticlevel .bj-secondAgeneticleft .bj-secondblocksecondimg .bj-secondblocksecond .bj-Contactblueboxblock .bj-Contactbluebox .bj-Contactsecondbox p{
    padding-top:5px;
    border-bottom: unset;
}

.bj-ContactAgenticblock .bj-secondblockthreeimg .bj-secondblockthree{
    left: -25px;
    right: unset;
    bottom:15px;
    z-index: 1;
}

.bj-ContactAgenticblock .bj-secondAgeneticright .bj-secondAgenetic{
    width: 90%;
    height: 100%;
    /* margin-left: 50px; */
}

.bj-ContactAgenticblock .bj-secondAgeneticright .bj-secondAgenetic .bj-secondOspectra{
    width: 100px;
    margin-bottom: 15px;
}

.bj-ContactAgenticblock .bj-secondAgeneticright .bj-secondAgenetic h3{
    line-height: 45px;
    margin-bottom: 20px;
}

.bj-ContactAgenticblock .bj-secondAgeneticright .bj-secondAgenetic .bj-ContactFormblock{
    width: 100%;
    margin-bottom: 20px;
}

.bj-ContactAgenticblock .bj-secondAgeneticright .bj-secondAgenetic input, textarea{
    width: 97%;
    padding: 12px 0;
    padding-left: 20px;
    outline: none;
    font-size: 16px;
    border: 1px solid #e4e4e4;
    color: #868d98;
    line-height: 26px;
    border-radius: 8px;
    font-family: "Roboto";
    margin: 0;
}

/* .bj-ContactAgenticblock .bj-secondAgeneticright .bj-secondAgenetic input::placeholder{
    padding-left: 20px;
} */

/* .bj-ContactAgenticblock .bj-secondAgeneticright .bj-secondAgenetic textarea::placeholder{
    padding-left: 20px;
} */

/* .bj-ContactAgenticblock .bj-secondAgeneticright .bj-secondAgenetic input:focus{
    padding-left: 20px;
} */


.bj-ContactAgenticblock .bj-secondAgeneticright .bj-secondAgenetic .bj-Contactbtn{
    background: #5A3ED9 0% 0% no-repeat padding-box;
    border-radius: 0px 25px 25px 25px;
    padding: 14px 30px;
    font-size: 14px;
    font-family: "Roboto";
    display: block;
    width: 120px;
    text-align: center;
}

@media screen and (max-width:1440px) {

    .bj-ContactAgenticblock{
        height: 540px;
    }

    .bj-ContactAgenticblock .bj-secondblockthreeimg .bj-secondblockthree{
        left: -25px;
        bottom: 35px;
    }

    .bj-ContactAgenticblock .bj-secondAgeneticlevel .bj-secondAgeneticleft .bj-secondblockoneimg .bj-secondblockone{
        width: 320px;
    }

    .bj-ContactAgenticblock .bj-secondAgeneticlevel .bj-secondAgeneticleft .bj-secondblocksecondimg .bj-secondblocksecond{
        right: 0px;
        height: 320px;
        top: 60px;
    }

    .bj-ContactAgenticblock .bj-secondAgeneticlevel .bj-secondAgeneticleft .bj-secondblocksecondimg .bj-secondblocksecond .bj-Contactblueboxblock .bj-Contactbluebox span, p{
        font-size: 16px;
        line-height: 28px;
    }

    .bj-ContactAgenticblock .bj-secondAgeneticlevel .bj-secondAgeneticleft .bj-secondblocksecondimg .bj-secondblocksecond .bj-Contactblueboxblock .bj-Contactbluebox p{
        line-height: 30px;
    }

    .bj-ContactAgenticblock .bj-secondAgeneticlevel .bj-secondAgeneticleft .bj-secondblocksecondimg .bj-secondblocksecond .bj-Contactblueboxblock .bj-Contactbluebox .bj-Contactsecondbox p{
        line-height: 26px;
    }

    .bj-ContactAgenticblock .bj-secondAgeneticright .bj-secondAgenetic h3 {
        line-height: 38px;
    }

    .bj-ContactAgenticblock .bj-secondAgeneticright .bj-secondAgenetic .bj-ContactFormblock{
        margin-bottom: 15px;
    }

    .bj-ContactAgenticblock .bj-secondAgeneticright .bj-secondAgenetic input, textarea{
        font-size: 14px;
        line-height: 22px;
    }
}

@media screen and (max-width:1250px){
    .bj-ContactAgenticblock .bj-secondAgeneticlevel .bj-secondAgeneticleft .bj-secondblocksecondimg .bj-secondblocksecond{
        width: 400px;
        height: 300px;
    }

    .bj-ContactAgenticblock .bj-secondblockthreeimg .bj-secondblockthree{
        bottom: 25px;
    }
}

@media screen and (max-width:1200px) {
    .bj-ContactAgenticblock .bj-secondAgeneticlevel .bj-secondAgeneticleft .bj-secondblockoneimg .bj-secondblockone{
        width: 260px;
        height: auto;
        top: 35px;
        left: 50px;
    }

    .bj-ContactAgenticblock .bj-secondAgeneticlevel .bj-secondAgeneticleft .bj-secondblocksecondimg .bj-secondblocksecond{
        width: 350px;
        height: 250px;
        top: 18%;
        right: 15px;
    }

    .bj-ContactAgenticblock .bj-secondAgeneticright .bj-secondAgenetic{
        margin-left: 30px;
    }

    .bj-ContactAgenticblock .bj-secondAgeneticright .bj-secondAgenetic .bj-secondOspectra{
        width: 80px;
    }

    .bj-ContactAgenticblock .bj-secondAgeneticright .bj-secondAgenetic h3{
        line-height: 36px;
        margin-bottom: 15px;
    }

    .bj-ContactAgenticblock .bj-secondAgeneticright .bj-secondAgenetic input, textarea{
        font-size: 12px;
        line-height: 22px;
        padding: 10px 0;
        padding-left: 10px;
    }

    .bj-ContactAgenticblock .bj-secondAgeneticright .bj-secondAgenetic .bj-Contactbtn{
        font-size: 12px;
        padding: 10px 25px;
        width: 100px;
    }

    /* .bj-ContactAgenticblock .bj-secondAgeneticlevel .bj-secondAgeneticleft .bj-secondblocksecondimg .bj-secondblocksecond{
        right: 30px;    
    } */

    .bj-ContactAgenticblock .bj-secondAgeneticlevel .bj-secondAgeneticleft .bj-secondblocksecondimg .bj-secondblocksecond .bj-Contactblueboxblock .bj-Contactbluebox p{
        line-height: 26px;
        padding-bottom: 15px;
    }

    .bj-ContactAgenticblock .bj-secondAgeneticlevel .bj-secondAgeneticleft .bj-secondblocksecondimg .bj-secondblocksecond .bj-Contactblueboxblock .bj-Contactbluebox .bj-Contactsecondbox{
        padding-top: 15px;
    }

    .bj-ContactAgenticblock .bj-secondAgeneticlevel .bj-secondAgeneticleft .bj-secondblocksecondimg .bj-secondblocksecond .bj-Contactblueboxblock .bj-Contactbluebox span, p{
        font-size: 14px;
        line-height: 24px;
    }

    .bj-ContactAgenticblock .bj-secondAgeneticlevel .bj-secondAgeneticleft .bj-secondblocksecondimg .bj-secondblocksecond .bj-Contactblueboxblock .bj-Contactbluebox .bj-Contactsecondbox p{
        padding-bottom: 0;
    }

    .bj-ContactAgenticblock {
        height: 480px;
    }

    .bj-ContactAgenticblock .bj-secondAgeneticlevel{
        height: 480px;
    }

    .bj-ContactAgenticblock .bj-secondblockthreeimg .bj-secondblockthree{
        left: 40px;
        bottom: 9px;
    }

    .bj-ContactAgenticblock .bj-secondAgeneticright .bj-secondAgenetic{
        width: 90%;
    }

}

@media screen and (max-width:1150px) {
    .bj-ContactAgenticblock .bj-secondAgeneticlevel .bj-secondAgeneticleft .bj-secondblocksecondimg .bj-secondblocksecond{
        right: 0px;
    }
}

@media screen and (max-width:1080px) {
    .bj-ContactAgenticblock .bj-secondAgeneticlevel .bj-secondAgeneticleft .bj-secondblockoneimg .bj-secondblockone{
        width: 230px;
        top: 35px;
    }   

    .bj-ContactAgenticblock .bj-secondAgeneticlevel .bj-secondAgeneticleft .bj-secondblocksecondimg .bj-secondblocksecond{
        height: 250px;
        left: unset;
        top: 15%;
    }

    .bj-ContactAgenticblock .bj-secondAgeneticlevel .bj-secondAgeneticleft .bj-secondblocksecondimg .bj-secondblocksecond .bj-Contactblueboxblock .bj-Contactbluebox{
        width: 55%;
    }

    .bj-ContactAgenticblock .bj-secondblockthreeimg .bj-secondblockthree {
        bottom: 50px;
        left: 40px;
    }

    .bj-ContactAgenticblock .bj-secondAgeneticright .bj-secondAgenetic h3 {
        font-size: 24px;
        line-height: 34px;
    }
    
}

@media screen and (max-width:990px) {

    .bj-ContactAgenticblock {
        height: 420px;
    }
    
    .bj-ContactAgenticblock .bj-secondAgeneticlevel{
        height: 400px;
    }

    .bj-ContactAgenticblock .bj-secondAgeneticlevel .bj-secondAgeneticleft .bj-secondblocksecondimg .bj-secondblocksecond .bj-Contactblueboxblock .bj-Contactbluebox{
        width: 50%;
    }

    .bj-ContactAgenticblock .bj-secondAgeneticlevel .bj-secondAgeneticleft .bj-secondblocksecondimg .bj-secondblocksecond .bj-Contactblueboxblock .bj-Contactbluebox .bj-Contactfirstbox{
        padding: 0 15px 0 0 ;
    }

    .bj-ContactAgenticblock .bj-secondAgeneticright .bj-secondAgenetic .bj-secondOspectra{
        padding: 8px 10px;
        margin-bottom: 10px;
    }

    .bj-ContactAgenticblock .bj-secondAgeneticright .bj-secondAgenetic h3{
        margin-bottom: 10px;
    }

    .bj-ContactAgenticblock .bj-secondAgeneticright .bj-secondAgenetic .bj-ContactFormblock{
        margin-bottom: 10px;
    }   

    .bj-ContactAgenticblock .bj-secondAgeneticlevel .bj-secondAgeneticleft .bj-secondblocksecondimg .bj-secondblocksecond .bj-Contactblueboxblock .bj-Contactbluebox p{
        padding-bottom: 10px;
    }

    .bj-ContactAgenticblock .bj-secondblockthreeimg .bj-secondblockthree {
        bottom: 0px;
    }

    .bj-ContactAgenticblock .bj-secondAgeneticlevel .bj-secondAgeneticleft .bj-secondblocksecondimg .bj-secondblocksecond .bj-Contactblueboxblock .bj-Contactbluebox span{
        font-size: 13px;
    }

    .bj-ContactAgenticblock .bj-secondAgeneticlevel .bj-secondAgeneticleft .bj-secondblocksecondimg .bj-secondblocksecond .bj-Contactblueboxblock .bj-Contactbluebox p{
        line-height: 20px;
        font-size: 13px;
    }
}

@media screen and (max-width:950px) {
    .bj-ContactAgenticblock .bj-secondAgeneticlevel .bj-secondAgeneticleft .bj-secondblockoneimg .bj-secondblockone {
        /* width: 200px;
        height: 250px; */
        top: 6%;
        left: 30px;
    }

    .bj-ContactAgenticblock .bj-secondAgeneticlevel .bj-secondAgeneticleft .bj-secondblocksecondimg .bj-secondblocksecond{
        height: 230px;
        top: 18%;
    }

    .bj-ContactAgenticblock .bj-secondblockthreeimg .bj-secondblockthree {
        bottom: 0px;
        left: 20px;
    }

}

@media screen and (max-width:900px) {

    .bj-ContactAgenticblock .bj-secondAgeneticlevel .bj-secondAgeneticleft .bj-secondblockoneimg .bj-secondblockone{
        width: 200px;
        height: auto;
    }

    .bj-ContactAgenticblock .bj-secondAgeneticlevel .bj-secondAgeneticleft .bj-secondblocksecondimg .bj-secondblocksecond{
        height: 200px;
        top:115px;
    }

    .bj-ContactAgenticblock .bj-secondAgeneticlevel .bj-secondAgeneticleft .bj-secondblocksecondimg .bj-secondblocksecond .bj-Contactblueboxblock .bj-Contactbluebox span, p {
        font-size: 12px;
        line-height: 20px;
    }

    .bj-ContactAgenticblock .bj-secondAgeneticlevel .bj-secondAgeneticleft .bj-secondblocksecondimg .bj-secondblocksecond .bj-Contactblueboxblock .bj-Contactbluebox .bj-Contactsecondbox{
        padding-top: 10px;
    }

    .bj-ContactAgenticblock .bj-secondAgeneticright .bj-secondAgenetic h3{
        line-height: 32px;
    }

    .bj-ContactAgenticblock .bj-secondAgeneticlevel .bj-secondAgeneticleft .bj-secondblockoneimg .bj-secondblockone{
        top: 75px;
        left: 0px;
    }

    .bj-ContactAgenticblock .bj-secondblockthreeimg .bj-secondblockthree {
        bottom: 0px;
        left: 0px;
    }


}

@media screen and (max-width:850px) {
    
    .bj-ContactAgenticblock .bj-secondAgeneticlevel .bj-secondAgeneticleft .bj-secondblockoneimg .bj-secondblockone{
        left: 0px;
    }

    .bj-ContactAgenticblock .bj-secondAgeneticlevel .bj-secondAgeneticleft .bj-secondblocksecondimg .bj-secondblocksecond{
        height: 200px;
    }

    .bj-ContactAgenticblock .bj-secondAgeneticlevel .bj-secondAgeneticleft .bj-secondblocksecondimg .bj-secondblocksecond .bj-Contactblueboxblock .bj-Contactbluebox .bj-Contactsecondbox p{
        padding-top: 0;
    }

    .bj-ContactAgenticblock .bj-secondblockthreeimg .bj-secondblockthree {
        bottom: 0px;
        left: -10px;
    }

    .bj-ContactAgenticblock .bj-secondAgeneticlevel .bj-secondAgeneticleft .bj-secondblocksecondimg .bj-secondblocksecond{
        width: 300px;
    }

    .bj-ContactAgenticblock .bj-secondAgeneticlevel .bj-secondAgeneticleft .bj-secondblocksecondimg .bj-secondblocksecond .bj-Contactblueboxblock .bj-Contactbluebox{
        width: 65%;
    }

    .bj-ContactAgenticblock .bj-secondAgeneticright .bj-secondAgenetic{
        margin-left: 0;
    }
}

@media screen and (max-width:820px) {

    .bj-ContactAgenticblock{
        height: unset;
    }

    .bj-ContactAgenticblock .bj-secondAgeneticlevel{
        flex-direction: column;
        height: unset;
    }

    .bj-ContactAgenticblock .bj-secondAgeneticlevel .bj-secondAgeneticleft{
        width: 100%;
        height: 400px;
    }

    .bj-ContactAgenticblock .bj-secondAgeneticlevel .bj-secondAgeneticleft .bj-secondblockoneimg .bj-secondblockone{
        left: 18%;
        transform: translate(-35%);
        top: 0px;
    }

    .bj-ContactAgenticblock .bj-secondAgeneticlevel .bj-secondAgeneticright{
        width: 100%;
    }

    .bj-ContactAgenticblock .bj-secondAgeneticlevel .bj-secondAgeneticleft .bj-secondblockoneimg .bj-secondblockone{
        width: 230px;
    }

    .bj-ContactAgenticblock .bj-secondAgeneticlevel .bj-secondAgeneticleft .bj-secondblocksecondimg .bj-secondblocksecond{
        width: 320px;
        height: 230px;
        top: 80px;
    }

    .bj-ContactAgenticblock .bj-secondAgeneticlevel .bj-secondAgeneticleft .bj-secondblocksecondimg .bj-secondblocksecond .bj-Contactblueboxblock .bj-Contactbluebox{
        width: 80%;
    }

    .bj-ContactAgenticblock .bj-secondAgeneticlevel .bj-secondAgeneticleft .bj-secondblocksecondimg .bj-secondblocksecond{
        top: 50px;
        right: 110px;
    }

    .bj-ContactAgenticblock .bj-secondblockthreeimg .bj-secondblockthree{
        left: 35px;
        bottom: 20px;
        width: 130px;
    }

    .bj-ContactAgenticblock .bj-secondAgeneticright .bj-secondAgenetic{
        width: 90%;
    }
}

@media screen and (max-width:790px) {
    .bj-ContactAgenticblock .bj-secondAgeneticlevel .bj-secondAgeneticleft .bj-secondblocksecondimg .bj-secondblocksecond {
        top: 50px;
        right: 90px;
    }
}

@media screen and (max-width:768px) {

    .bj-ContactAgenticblock .bj-secondAgeneticlevel{
        width: 100%;
    }

    .bj-ContactAgenticblock .bj-secondAgeneticlevel .bj-secondAgeneticleft .bj-secondblockoneimg .bj-secondblockone{
        left: 23%;
        top: 0;
    }   

    .bj-ContactAgenticblock .bj-secondAgeneticlevel .bj-secondAgeneticleft .bj-secondblocksecondimg .bj-secondblocksecond{
        top: 15%;
        right: unset;
        left: 50%;
    }

    .bj-ContactAgenticblock .bj-secondblockthreeimg .bj-secondblockthree {
        left: 14%;
        bottom: 20px;
        width: 120px;
    }

    .bj-ContactAgenticblock .bj-secondAgeneticright .bj-secondAgenetic{
        margin-left: 0;
    }

    .bj-ContactAgenticblock .bj-secondAgeneticright .bj-secondAgenetic {
        width: 100%;
    }

    .bj-ContactAgenticblock .bj-secondAgeneticlevel .bj-secondAgeneticleft .bj-secondblocksecondimg .bj-secondblocksecond .bj-Contactblueboxblock .bj-Contactbluebox {
        width: 75%;
    }
}

@media screen and (max-width:680px){
    .bj-ContactAgenticblock .bj-secondAgeneticlevel .bj-secondAgeneticleft .bj-secondblocksecondimg .bj-secondblocksecond{
        width: 280px;
    }
    
    .bj-ContactAgenticblock .bj-secondAgeneticlevel .bj-secondAgeneticleft .bj-secondblockoneimg .bj-secondblockone{
        left: 20%;
    }

    .bj-ContactAgenticblock .bj-secondblockthreeimg .bj-secondblockthree{
        left: 9%;   
    }

}

@media screen and (max-width:600px){

    .bj-ContactAgenticblock .bj-secondAgeneticright .bj-secondAgenetic .bj-Contactbtn {
        font-size: 11px;
        width: 90px;
    }

    .bj-ContactAgenticblock .bj-secondAgeneticlevel .bj-secondAgeneticleft .bj-secondblockoneimg .bj-secondblockone{
        width: 200px;
        height: auto;
        left: 18%;
        top: 10%;
    }   

    .bj-ContactAgenticblock .bj-secondAgeneticlevel .bj-secondAgeneticleft .bj-secondblocksecondimg .bj-secondblocksecond{
        top: 24%;
        height: 185px;
        left: 50%;
    }

    .bj-ContactAgenticblock .bj-secondblockthreeimg .bj-secondblockthree {
        left: 8%;
        bottom: 25px;
    }
}

@media screen and (max-width:520px) {

    .bj-ContactAgenticblock .bj-secondAgeneticlevel .bj-secondAgeneticleft{
        height:320px;
    }

    .bj-ContactAgenticblock .bj-secondAgeneticlevel .bj-secondAgeneticleft .bj-secondblockoneimg .bj-secondblockone{
        width: 180px;
        top: 5%;
        left: 15%;
    }

    .bj-ContactAgenticblock .bj-secondAgeneticlevel .bj-secondAgeneticleft .bj-secondblocksecondimg .bj-secondblocksecond{
        top: 16%;
        left: 52%;
    }

    .bj-ContactAgenticblock .bj-secondblockthreeimg .bj-secondblockthree{
        width: 100px;
        bottom: 3%;
        left: 5%;
    }

    .bj-ContactAgenticblock .bj-secondAgeneticright .bj-secondAgenetic{
        width: 100%;
        margin-left: 0;
    }
}

@media screen and (max-width:480px) {

    .bj-ContactAgenticblock .bj-secondAgeneticlevel .bj-secondAgeneticleft {
        height: 292px;
    }
    
    .bj-ContactAgenticblock .bj-secondAgeneticlevel .bj-secondAgeneticleft .bj-secondblockoneimg .bj-secondblockone{
        width: 160px;
    }

    .bj-ContactAgenticblock .bj-secondAgeneticlevel .bj-secondAgeneticleft .bj-secondblocksecondimg .bj-secondblocksecond{
        width: 60%;
        height: 180px;
        left: 54%;
    }

    .bj-ContactAgenticblock .bj-secondAgeneticlevel .bj-secondAgeneticleft .bj-secondblocksecondimg .bj-secondblocksecond .bj-Contactblueboxblock .bj-Contactbluebox span, p {
        font-size: 10px;
        line-height: 16px;
    }

    .bj-ContactAgenticblock .bj-secondAgeneticlevel .bj-secondAgeneticleft .bj-secondblocksecondimg .bj-secondblocksecond .bj-Contactblueboxblock .bj-Contactbluebox p {
        padding-top: 5px;
        padding-bottom: 5px;
        line-height: 20px;
    }

    .bj-ContactAgenticblock .bj-secondAgeneticlevel .bj-secondAgeneticleft .bj-secondblocksecondimg .bj-secondblocksecond .bj-Contactblueboxblock .bj-Contactbluebox p{
        font-size: 11px;
        line-height: 16px;
    }

    .bj-ContactAgenticblock .bj-secondAgeneticlevel .bj-secondAgeneticleft .bj-secondblockoneimg .bj-secondblockone{
        left: 17%;
    }
}

@media screen and (max-width:450px) {
    .bj-ContactAgenticblock .bj-secondAgeneticlevel .bj-secondAgeneticleft .bj-secondblocksecondimg .bj-secondblocksecond .bj-Contactblueboxblock .bj-Contactbluebox p{
        font-size: 10px;
    }

    /* .bj-ContactAgenticblock .bj-secondblockthreeimg .bj-secondblockthree{
        left: 0;
    } */
}

@media screen and (max-width:420px) {
    .bj-ContactAgenticblock .bj-secondAgeneticlevel .bj-secondAgeneticleft .bj-secondblocksecondimg .bj-secondblocksecond{
        left: 55%;
    }
}

@media screen and (max-width:380px){
    .bj-ContactAgenticblock .bj-secondAgeneticlevel .bj-secondAgeneticleft .bj-secondblockoneimg .bj-secondblockone{
        width: 140px;
        left: 17%;
    }

    .bj-ContactAgenticblock .bj-secondAgeneticlevel .bj-secondAgeneticleft .bj-secondblocksecondimg .bj-secondblocksecond{
        top: 15%;
        left: 53%;
        height: 160px;
    }

    .bj-ContactAgenticblock .bj-secondblockthreeimg .bj-secondblockthree{
        width: 80px;
        bottom: 5%;
        left: 6%;
    }

    .bj-ContactAgenticblock .bj-secondAgeneticlevel .bj-secondAgeneticleft .bj-secondblocksecondimg .bj-secondblocksecond .bj-Contactblueboxblock .bj-Contactbluebox p {
        font-size: 9px;
        line-height: 18px;
    }

    .bj-ContactAgenticblock .bj-secondAgeneticlevel .bj-secondAgeneticleft .bj-secondblocksecondimg .bj-secondblocksecond .bj-Contactblueboxblock .bj-Contactbluebox .bj-Contactsecondbox p{
        line-height: 14px;
    }

    .bj-ContactAgenticblock .bj-secondAgeneticlevel .bj-secondAgeneticleft {
        height: 250px;
    }

    .bj-ContactAgenticblock .bj-secondAgeneticlevel .bj-secondAgeneticleft .bj-secondblocksecondimg .bj-secondblocksecond{
        width: 65%;
        
    }
}


@media screen and (max-width:350px) {
    .bj-ContactAgenticblock .bj-secondAgeneticlevel .bj-secondAgeneticleft .bj-secondblocksecondimg .bj-secondblocksecond{
        left: 52%;
    }

    .bj-ContactAgenticblock .bj-secondAgeneticlevel .bj-secondAgeneticleft .bj-secondblocksecondimg .bj-secondblocksecond .bj-Contactblueboxblock .bj-Contactbluebox .bj-Contactfirstbox{
        padding-right: 10px;
    }

    .bj-ContactAgenticblock .bj-secondAgeneticlevel .bj-secondAgeneticleft .bj-secondblockoneimg .bj-secondblockone{
        left: 18%;
    }
    
    .bj-ContactAgenticblock .bj-secondAgeneticlevel .bj-secondAgeneticleft .bj-secondblocksecondimg .bj-secondblocksecond .bj-Contactblueboxblock .bj-Contactbluebox {
        width: 66%;
    }

    .bj-ContactAgenticblock .bj-secondAgeneticlevel .bj-secondAgeneticleft .bj-secondblocksecondimg .bj-secondblocksecond .bj-Contactblueboxblock .bj-Contactbluebox p {
        line-height: 16px;
    }
}