.bj-Ospectrabanner{
    width: 100%;
    height: 100%;
}

header{
    height: 120px;
}

.bj-bannertopblock{
    width: 100%;
    justify-content: space-between;
}

.bj-bannertopblock .bj-bannerleftlogo{
    width: 30%;
}

.bj-bannerlogo{
    width: 195px;
}

.bj-navbarblock{
    width: 70%;
    height: 100%;
}

.nav-menu{
    width: 77%;
    height: 100%;   
    justify-content: space-around;
}

.nav-menu ul{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.nav-menu li {
    padding-right: 36px;
    position: relative;
}

.nav-menu li a{
    color: #011D1D;
    font-size: 14px;
    /* font-weight: 600; */
    text-transform: uppercase;
    color: #1922A8;
    cursor: pointer;
    font-family: "Roboto-medium";
}

.nav-menu li:last-child{
    padding-right: 0;
}

.bj-navbarblock ul{
    height: 100%;
}

.bj-navbarblock ul li{
    position: relative;
    padding-right: 25px;
}

.bj-navbarblock ul li a{
    color: #1922A8;
    font-family: "Roboto";
    text-transform: uppercase;
}

.nav-item.active .nav-link:before {
    content: '';
    width: 10px;
    height: 10px;
    border-radius: 10px;
    top: 4px;
    left: -20px;
    margin: auto;
    position: absolute;
    background-color: #CC2EE5;
}

.btn-shape {
    border-radius: 0 50px 50px 50px !important;
}
.enquiry-btn {
    background-color: #5a3ed9;
    padding: 15px 30px;
    color: #fff;
    cursor: pointer;
}

.menu-icons{
    height: 100%;
    display: flex;
    align-items: center;
}

.hamburger{
    display: none;
    cursor: pointer;
    width: 30px;
    height: 30px;
    justify-content: center;
    align-items: center;
}

.bar{
    display: block;
    /* width: 25px; */
    height: 2px;
    background-color: #262b35;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}

.bar1{
    width: 14px;
}

.bar2{
    width: 22px;
}

.bar3{
    width: 14px;   
}

.bar:nth-child(2){
    margin-top: 3px;
}

.bar:nth-child(3){
    margin-top: 3px;
}

@media screen and (max-width:1440px) {

    .bj-bannerlogo{
        width:160px
    }

    .nav-menu li{
        padding-right: 30px;
    }

    .nav-menu li a {
        font-size: 12px;
    }

    .nav-item.active .nav-link:before {
        width: 7px;
        height: 7px;
        top: 7px;
        left: -15px;
    }
    
}

@media screen and (max-width:1200px) {
    .nav-menu li{
        padding-right: 20px;
    }
}

@media screen and (max-width:990px) {

    header{
        height:100px;
    }

    .bj-bannerlogo{
        width: 140px;
        position: relative;
        z-index: 1000;
    }

    .nav-menu .bj-logoblock{
        width: unset;
    }

    .nav-menu{
        height: 40%;
    }

    .nav-menu ul{
        width: 100%;
        height: 100%;
        justify-content: flex-start;
        flex-direction: column;
        align-items: flex-start;
        padding-top: 100px;
    }

    .nav-menu ul li{
        padding-left: 50px;
        margin-bottom: 15px;
    }

    .nav-menu li:last-child{
        padding-left: 50px;
        margin-bottom: 15px;
    }

    .hamburger{
        display: flex;
        flex-direction: column;
        position: relative;
        z-index: 999;
    }

    .hamburger.active .bar:nth-child(2){
        opacity: 0;
    }

    .hamburger.active .bar:nth-child(1){
        transform: translateY(7px) rotate(45deg);
        width: 22px;
    }

    .hamburger.active .bar:nth-child(3){
        transform: translateY(-3px) rotate(-45deg);
        width: 22px;
    }

    .nav-menu{
        position:fixed;
        left:0;
        top:-41%;
        gap:0;
        justify-content: flex-end;
        flex-direction: column;
        background: #FFF;
        width: 100%;
        transition: all 0.5s ease-out;
        z-index:999;
        padding-left:0;
    }

    .nav-menu.open{
        clip-path:circle (1000px at 90% -10%);
        -webkit-clip-path:circle (1000px at 90% -10%);
        pointer-events: all;
    }
    
    .nav-menu.active {
        top:0%;
        transition: all 0.5s ease-out;
    }
    
    .nav-menu li{
        padding-right: unset;
    }

    .nav-item .nav-link {
        transition: 0.7s ease;
    }

}

@media screen and (max-width:768px) {
    .nav-menu {
        height: 30%;
    }
}

@media screen and (max-width:480px) {
    .nav-menu ul li, .nav-menu li:last-child{
        padding-left: 30px;
    }
    
}