


@media screen and (max-width:990px) {
    .bj-OspectraPlatformBanner .nav-menu {
        height: auto;
    }
}

@media screen and (max-width:768px) {
    .bj-OspectraPlatformBanner .nav-menu {
        height: auto;
    }
}

@media screen and (max-width: 520px) {
    .bj-OspectraPlatformBanner .nav-menu {
        height: auto;
    }
}

@media screen and (max-width: 420px) {
    .bj-OspectraPlatformBanner .nav-menu {
        height: auto;
    }
}